  body
    {
	    margin:0px;
	     background-image: url("../images/p1.jpg");
            background-position: center;
            background-size: cover;
	    font-family:Arial, Helvetica, sans-serif;
    }
    
    .login{  padding-bottom:20px;  border-radius:5px; margin-top:60px;   float: left; margin-left: 50px;
    }
	h1 { margin-top:60px;}
	
    
    table{font-family:"Comic Sans MS", cursive;}
    
     .tb{height:28px; width:230px; border:1px solid #f26724; color:#4856fa; font-weight:bold; border-left:5px solid #f7f7f7; opacity:0.9; }
    
    .tb:focus{height:28px; border:1px solid #f26724; outline:none; border-left:5px solid #f7f7f7;}

   
    .btn{width:115px; height:32px; outline:none;  color:#f7f7f7; font-weight:bold; border:0px solid #f26724; 
    text-shadow: 0px 0.5px 0.5px #fff; border-radius: 2px; font-weight: 600; color: #f26724; letter-spacing: 1px; 
    font-size:14px; background-color:#f1f1f1; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
  
    .btn:hover{background-color:#ffffff; outline:none;  border-radius: 2px; color:#000000; border:1px solid #f1f1f1;
    -webkit-transition: 1s; -moz-transition}
	
   
	